<%- include ('partials/header') %>
<div class="container">
    <form action="/home/<%= member._id %>?_method=PUT" method="POST">
        <div class="row my-3">
            <div class="col-4">
            </div>
            <div class="col-8">
                <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control mb-3" name="username" value="<%= member.username %>">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control mb-3" name="nickname" value="<%= member.nickname %>">
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="email" class="form-control mb-3" name="email" value="<%= member.email %>">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control mb-3" name="kiitmail" value="<%= member.kiitmail %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3" name="phoneno" value="<%= member.phoneno %>">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3" name="whatsapp" value="<%= member.whatsapp %>">
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-lg text-light btn-info">
                </div>
            </div>
        </div>
    </form>
</div>
<%- include ('partials/footer') %>